* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: black;
}

.nav-bar > nav {
    width: 50%;
}

.nav-bar > nav > ul {
    display: flex;
    justify-content: space-around;
}

.nav-bar > nav > ul > li.active {
    background-color: #feeb9a;
}

/* Wrapper */
.wrapper {
    max-width: 1200px;
}

section.section {
    margin: 50px 0;
}

section.section > * {
    margin: 20px 70px;
}

.section-title {
    margin: 50px 0px 20px;
    border-bottom: 2px solid #000;
} 

.section-nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.section-nav > .nav-profile {
    padding: 0;
}

.section-nav li {
    color: #757575;
}

.section-nav li:hover, .section-nav li.active {
    color: #000;
    font-weight: bold;
}

main.section {
    width: 75%;
}
main.section > .section-nav {
    display: flex;
    justify-content: space-between;
}

main.container {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
}

.aside-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aside-li {
    color: #757575;
}

.aside button {
    margin: 0;
    font-size: 1em;
    background-color: #fff;
    color: #757575;
    text-align: left;
    border: none;
}

.graphic-header {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.aside-ul > .aside-li > .aside-li-text:focus {
    border:none;
}

.aside button:hover {
    color: #000000;
    border: none;
    font-weight: bold;
}

section ul.nav-profile {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-profile-item {
    padding: 8px 20px 0 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.nav-profile-item:hover {
    font-weight: 700;
}
